<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Flask-Api" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python39\python.exe|C:\Python\Python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
	<appSettings>
	<add key="PYTHONPATH" value="D:\Python\Web\programmingChallengeProject" />
    <add key="WSGI_HANDLER" value="app.app" />
  </appSettings>
</configuration>
